<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Katerine Witkoski</title>
</head>

<body>
    <!-- MENU BOTTOM -->
    <i class="bi bi-list menu-mobile"></i>

    <!-- MENU -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto da Katerine">
            <h1>Katerine Witkoski</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/katerinewitkoski/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/katerine-dev">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">
                        <i class="bi bi-house" aria-hidden="true">
                        </i>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <i class="bi bi-person" aria-hidden="true">
                        </i>
                        About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">
                        <i class="bi bi-list-check" aria-hidden="true">
                        </i>
                        Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="../static/docs/curriculumvitae.pdf">
                        <i class="bi bi-file-earmark" aria-hidden="true">
                        </i>
                        Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project">
                        <i class="bi bi-collection" aria-hidden="true">
                        </i>
                        Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="bi bi-envelope" aria-hidden="true">
                        </i>
                        Contact</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- *PAGES* -->
    <main id="main">
        <!-- HOME -->
        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">Hello!</h2>
                <span id="subtitle" class="text-shadow">Call me Kate :)</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="drag" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down pe-2 fs-2" arria-hidden="true">
                    </i>
                    <a href="#about">Drag for more</a>
                </div>
            </div>
        </section>

        <!-- ABOUT -->
        <section class="container mt-5" id="about">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">About me!</h2>
                    <p>
                        I appreciate the beauty of opposites, particularly in complementary colors, such as the
                        harmonious pairing of purple and yellow.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/sunflower1.jpg" alt="Perfil">
                </div>
                <div class="col-md-8">
                    <h3>Computer science student</h3>
                    <p>
                        I am currently pursuing a degree in computer science at Anhembi Morumbi University in São Paulo.
                        However, this isn't my first academic journey. In 2022, I successfully earned a degree in Law,
                        and it was during one of my internships that I unexpectedly delved into the technology sector.
                        Initially, programming seemed like a daunting challenge, akin to taming a monster with a
                        formidable reputation. However,
                        as I embarked on my first programming courses, I quickly realized that it was a skill I could
                        master.
                    <p>
                        My initial exposure to programming occurred in the realm of legal research, where we utilized
                        coding for data analysis.
                        This experience marked a turning point for me, sparking a newfound passion for programming.
                        Today, I consider myself a programming enthusiast, driven by curiosity and a constant desire to
                        deepen my expertise.
                        While I enjoy exploring various facets of programming, my current focus lies in developing REST
                        APIs with Python.
                    </p>
                    <p>
                        Outside the realm of code, I embrace diverse interests during my "free time."
                        I find solace in reading books, drawing, travel, and unwinding with my Nintendo console. </p>
                    </p>
                    <div class="row mt-3 mb-3">
                        <h2 class="pt-3 fs-5">Education</h2>
                        <div class="col-md-6">
                            <ul class="ul-edu fa-ul">
                                <li>
                                    <div class="description">
                                        <p class="course"><i class="bi bi-mortarboard-fill"></i> Computer Science (2022
                                            -)</p>
                                        <p class="institution">University Anhembi Morumbi <a
                                                href="https://portal.anhembi.br/"><i
                                                    class="bi bi-arrow-up-right-square"></i></a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="description">
                                        <p class="course"><i class="bi bi-mortarboard-fill"></i> Bachelor of Law (2017
                                            - 2021)</p>
                                        <p class="institution">University São Judas Tadeu <a
                                                href="https://www.ufpr.br/portalufpr/"><i
                                                    class="bi bi-arrow-up-right-square"></i></a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SKILLS -->
        <section class="mt-5 section-bg" id="skills">
            <div class="container pb-5">
                <h2 class="pt-5">Skills</h2>
                <p>
                    My first programming language was R, but today I always try to learn other languages and tools.
                </p>
                <div class="row mt-3 mb-3">
                    <ul class="list-unstyled">
                        <li>Topics I am currently studying:</li>
                        <br>
                        <ul>
                            <li>R (Data analysis)</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>SQL (PostgreSQL, MariaDB, mySQL)</li>
                            <li>JavaScript</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>CI/CD</li>
                            <li>Fast API</li>
                            <li>Flask</li>
                            <li>Git</li>
                        </ul>
                        </li>
                    </ul>
                </div>
                <div class="row mt-5 mb-5 text-center">
                    <p>
                        This page is an exercise to learn front-end development.
                    </p>
                    <p>
                        See the repo <a target="_blank" href="https://github.com/katerine-dev/portifolio-site">here</a>.
                    </p>
                </div>
            </div>
        </section>

        <!-- PROJECTS -->
        <section class="container mt-5" id="project" >
            <div class="container pb-5 pt-5">
                <h2 class="pt-4">Projects</h2>

                <div id="carouselProjects" class="carousel carousel-dark slide mt-5">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <!-- Cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">queridodiario</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">R</h6>
                                        <p class="card-text">This package is part of a project called Querido Diário by
                                            Open
                                            Knowledge Brasil.</p><br/><br/><br/>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/queridodiario"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">Testcalculadora</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Java</h6>
                                        <p class="card-text">Este repositório contém testes automatizados end-to-end
                                            para
                                            uma
                                            calculadora online,
                                            desenvolvida utilizando Selenium WebDriver, Java, Maven e JUnit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/TestCalculadora"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">prototipoBD</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Java</h6>
                                        <p class="card-text"> The Bibioteca Digital System is an application developed
                                            to help with
                                            management of book availability and book reservation.</p>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/prototipoBD"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">scraperTheoffice</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">R</h6>
                                        <p class="card-text">Scraper of the list of episodes of the series The Office
                                            This package was produced especially for the final work of the Web Scraping
                                            course Curso-R.</p>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/scraperTheoffice"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">scraperRF</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">Python</h6>
                                        <p class="card-text">This project is an extension of the work carried out
                                            together
                                            with
                                            ScoreEase.
                                            The objective is to extract data from the Cadastro Nacional de Pessoas
                                            Jurídicas
                                            (CNPJ).</p>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/scraperRF"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">nepiPericia</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">R</h6>
                                        <p class="card-text">Visualizations produced for project presentation at NEPI
                                            - Núcleo de Estudos de Processos de Insolvência (PUC-SP).</p><br/><br/>
                                        <div class="d-flex justify-content-center">
                                            <a target="_blank" href="https://github.com/katerine-dev/nepiPericia"
                                                class="btn btn-primary stretched-link"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row mt-5 mb-5 text-center">
                    <p>
                        These are just some of my projects, see what I'm working on today <a target="_blank"
                            href="https://github.com/katerine-dev">here</a>.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>