<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Katerine Witkoski</title>
</head>

<body>
    <!-- MENU BOTTOM -->
    <i class="bi bi-list menu-mobile"></i>

    <!-- MENU -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto da Katerine">
            <h1>Katerine Witkoski</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/katerinewitkoski/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/katerine-dev">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">
                        <i class="bi bi-house" aria-hidden="true">
                        </i>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        <i class="bi bi-person" aria-hidden="true">
                        </i>
                        About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">
                        <i class="bi bi-list-check" aria-hidden="true">
                        </i>
                        Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="../static/docs/curriculumvitae.pdf">
                        <i class="bi bi-file-earmark" aria-hidden="true">
                        </i>
                        Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">
                        <i class="bi bi-collection" aria-hidden="true">
                        </i>
                        Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="bi bi-envelope" aria-hidden="true">
                        </i>
                        Contact</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- *PAGES* -->
    <main id="main">
        <!-- HOME -->
        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">Hello!</h2>
                <span id="subtitle" class="text-shadow">Call me Kate :)</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="drag" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down pe-2 fs-2" arria-hidden="true">
                    </i>
                    <a href="#about">Drag for more</a>
                </div>
            </div>
        </section>

        <!-- ABOUT -->
        <section class="container mt-5" id="about">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">About me!</h2>
                    <p>
                        I appreciate the beauty of opposites, particularly in complementary colors, such as the harmonious pairing of purple and yellow.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/sunflower1.jpg" alt="Perfil">
                </div>
                <div class="col-md-8">
                    <h3>Computer science student</h3>
                    <p>
                        I am currently pursuing a degree in computer science at Anhembi Morumbi University in São Paulo. 
                        However, this isn't my first academic journey. In 2022, I successfully earned a degree in Law,
                         and it was during one of my internships that I unexpectedly delved into the technology sector. 
                        Initially, programming seemed like a daunting challenge, akin to taming a monster with a formidable reputation. However, 
                        as I embarked on my first programming courses, I quickly realized that it was a skill I could master.
                    <p>
                        My initial exposure to programming occurred in the realm of legal research, where we utilized coding for data analysis. 
                        This experience marked a turning point for me, sparking a newfound passion for programming. 
                        Today, I consider myself a programming enthusiast, driven by curiosity and a constant desire to deepen my expertise. 
                        While I enjoy exploring various facets of programming, my current focus lies in developing REST APIs with Python.
                    </p>
                    <p>
                        Outside the realm of code, I embrace diverse interests during my "free time." 
                        I find solace in reading books, drawing, travel, and unwinding with my Nintendo console. </p>
                    </p>
                    <div class="row mt-3 mb-3">
                        <h2 class="pt-3 fs-5">Education</h2>
                        <div class="col-md-6">
                            <ul class="ul-edu fa-ul">
                                <li>
                                    <div class="description">
                                        <p class="course"><i class="bi bi-mortarboard-fill"></i> Computer Science (2022
                                            -)</p>
                                        <p class="institution">University Anhembi Morumbi <a
                                                href="https://portal.anhembi.br/"><i
                                                    class="bi bi-arrow-up-right-square"></i></a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="description">
                                        <p class="course"><i class="bi bi-mortarboard-fill"></i> Bachelor of Law (2017
                                            - 2021)</p>
                                        <p class="institution">University São Judas Tadeu <a
                                                href="https://www.ufpr.br/portalufpr/"><i
                                                    class="bi bi-arrow-up-right-square"></i></a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SKILLS -->
        <section class="mt-5 section-bg" id="skills">
            <div class="container pb-5">
                <h2 class="pt-5">Skills</h2>
                <p>
                My first programming language was R, but today I always try to learn other languages and tools.
                </p>
                <div class="row mt-3 mb-3">
                    <ul class="list-unstyled">
                        <li>Topics I am currently studying:</li>
                        <br>
                            <ul>
                                <li>R (Data analysis)</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>SQL (PostgreSQL, MariaDB, mySQL)</li>
                                <li>JavaScript</li>
                                <li>CSS</li>
                                <li>HTML</li>
                                <li>CI/CD</li>
                                <li>Fast API</li>
                                <li>Flask</li>
                                <li>Git</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="row mt-3 mb-3 text-center">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        This page is an exercise to learn front-end development.
                    </p>
                    <p>
                        See the repo <a
                        href="https://github.com/katerine-dev/portifolio-site">here</a>.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>